<div class="row">
    <div class="col-xs-12">
        <h1>{{note.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>{{note.description}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Note <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor:pointer;" (click)="onDeleteNote()">Delete Note</a></li>

                <li><a style="cursor:pointer;" (click)="onEditNote()">Edit Note</a></li>

            </ul>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{note.content}}
    </div>
</div>